In [93]:
from utils.load_utils import load_obj
import tensorlayer as tl
import utils.sampler as sampler

In [94]:
products_cat = load_obj('../data/products_table')
traffic_cat =  load_obj('../data/traffic_table')
purchased_cat= load_obj('../data/purchased_table')
filters_def_dict= load_obj('../data/filters_def_dict')
type_filters= load_obj('../data/type_filters')
question_text_df = load_obj('../data/question_text_df')
answer_text = load_obj('../data/answer_text')

In [6]:
purchased_cat.head()

,ProductId,UserId,OrderId,SessionId,Items_ProductId,Items_ItemCount
0,329015,2326810,14202712,1.834223e+09,329015,1
1,329015,2865292,14691437,1.960941e+09,329015,1
2,329015,1582035,14504466,1.920271e+09,329015,1
3,438618,1800738,14791067,1.981204e+09,438618,1
4,723305,1764422,13962451,1.781320e+09,723305,1

In [4]:
products_cat.head()

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
0,6299632.0,314.0,6.0,5306.0,19219.0,NaN,5306.0
1,6300952.0,314.0,6.0,5306.0,19219.0,NaN,5306.0
2,6843624.0,314.0,6.0,325949.0,19219.0,NaN,325949.0
3,6973019.0,314.0,6.0,325949.0,19219.0,NaN,325949.0
4,9391967.0,331.0,6.0,325949.0,19219.0,NaN,325949.0

In [5]:
traffic_cat.head()

,SessionId,answers_selected,Items_ProductId
0,2.229595e+09,"{'1': [0.39115999999999995], '7302': ['5767']}",5967297
1,2.235801e+09,{'1': [0.39115999999999995]},4678279
2,2.237479e+09,"{'7302': ['185245'], '11297': [0.0]}",5993239
3,2.238819e+09,"{'746': ['278771', '306565', '365632'], '6885'...",5940321
4,2.238902e+09,{'16667': ['310362']},5967297

In [8]:
answer_text.head()

      answer_id  question_id answer_text
0        5306.0        19219   Business
2      325949.0        19219     Privat
1539        0.0        15415         0.0
1593        1.0        15415         1.0
3986        0.0        15430         0.0

In [17]:
question_text_df['PropertyDefinitionId'].astype(float).astype(str)

0       1475.0
1      10990.0
2      10552.0
3        417.0
4        522.0
5      19219.0
6      11295.0
7      10629.0
8        734.0
9       3142.0
10      5543.0
11      3195.0
12       108.0
13       540.0
14      7302.0
15     10551.0
16        10.0
17     11550.0
18         1.0
19        16.0
20       748.0
21      2570.0
22      2564.0
23      3014.0
24      9264.0
25     13201.0
26     13211.0
27      2747.0
28       403.0
29         6.0
        ...
108      697.0
109     7202.0
110     9945.0
111     9946.0
112     9643.0
113    10527.0
114       13.0
115    12418.0
116    14221.0
117    11280.0
118    10589.0
119      797.0
120      714.0
121      656.0
122      900.0
123      112.0
124     3011.0
125    15101.0
126    15415.0
127    15102.0
128    11281.0
129    11294.0
130     9670.0
131       97.0
132     6885.0
133     3124.0
134    10600.0
135     8246.0
136    99999.0
137    99999.0
Name: PropertyDefinitionId, Length: 138, dtype: object

In [15]:
answer_df=answer_text.copy()
answer_df.loc[(answer_df["answer_id"] == 5306.0) & (answer_df["question_id"] == 19219), "answer_text"].values[0]

'Business '

In [1]:
y = 9576135

In [2]:
a = [309695.]

In [3]:
q = 8745

In [14]:
products_cat.loc[(products_cat["ProductId"]==y) & (products_cat["PropertyDefinitionId"]==int(q)),]

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [68]:
product_set = products_cat.copy()
q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(q), "ProductId"].drop_duplicates().values)

In [20]:
len(q_keep)

5630

In [21]:
len(products_cat["ProductId"].drop_duplicates().values)

7797

In [23]:
products_to_keep = product_set.loc[q_keep, "ProductId"].drop_duplicates().values

In [25]:
test = product_set.loc[product_set["ProductId"].isin(q_keep)==False,]

In [26]:
test.head()

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
0,6299632,314,6,5306.0,19219,NaN,5306.0
1,6300952,314,6,5306.0,19219,NaN,5306.0
2,6843624,314,6,325949.0,19219,NaN,325949.0
3,6973019,314,6,325949.0,19219,NaN,325949.0
4,9391967,331,6,325949.0,19219,NaN,325949.0

In [27]:
y =5312937

In [28]:
question = 11296

In [29]:
answer = ['none']

In [30]:
q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(question), "ProductId"].drop_duplicates().values)

In [31]:
len(q_keep)

5599

In [32]:
product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep)==False,]

In [33]:
product_set

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
103,9574799,47,6,325949.0,19219,NaN,325949.0
107,9574815,47,6,325949.0,19219,NaN,325949.0
108,9574824,47,6,325949.0,19219,NaN,325949.0
109,9574833,47,6,325949.0,19219,NaN,325949.0
110,9574840,47,6,325949.0,19219,NaN,325949.0
139,9574801,47,6,325949.0,19219,NaN,325949.0
141,9574817,47,6,325949.0,19219,NaN,325949.0
142,9574835,47,6,325949.0,19219,NaN,325949.0
168,9574808,47,6,325949.0,19219,NaN,325949.0
169,9574810,47,6,325949.0,19219,NaN,325949.0
170,9574826,47,6,325949.0,19219,NaN,325949.0
171,9574842,47,6,325949.0,19219,NaN,325949.0
258,9574811,47,6,325949.0,19219,NaN,325949.0
259,9574812,47,6,325949.0,19219,NaN,325949.0
260,9574828,47,6,325949.0,19219,NaN,325949.0
658,9574798,47,6,325949.0,19219,NaN,325949.0
663,9574807,47,6,325949.0,19219,NaN,325949.0
664,9574816,47,6,325949.0,19219,NaN,325949.0
727,9574823,47,6,325949.0,19219,NaN,325949.0
728,9574832,47,6,325949.0,19219,NaN,325949.0
729,9574841,47,6,325949.0,19219,NaN,325949.0
746,9574941,47,6,5306.0,19219,NaN,5306.0
748,9574957,47,6,5306.0,19219,NaN,5306.0
750,9574975,47,6,5306.0,19219,NaN,5306.0
752,9574991,47,6,5306.0,19219,NaN,5306.0
822,9574803,47,6,325949.0,19219,NaN,325949.0
824,9574819,47,6,325949.0,19219,NaN,325949.0
825,9574820,47,6,325949.0,19219,NaN,325949.0
826,9574836,47,6,325949.0,19219,NaN,325949.0
827,9574837,47,6,325949.0,19219,NaN,325949.0
...,...,...,...,...,...,...,...
793117,9575475,47,6,0.0,15102,NaN,0.0
793118,9575484,47,6,0.0,15102,NaN,0.0
793119,9575493,47,6,0.0,15102,NaN,0.0
793174,9575389,47,6,0.0,15102,NaN,0.0
793175,9575391,47,6,0.0,15102,NaN,0.0
793176,9575407,47,6,0.0,15102,NaN,0.0
793177,9575423,47,6,0.0,15102,NaN,0.0
793178,9575439,47,6,0.0,15102,NaN,0.0
793179,9575441,47,6,0.0,15102,NaN,0.0
793180,9575457,47,6,0.0,15102,NaN,0.0
793181,9575473,47,6,0.0,15102,NaN,0.0
793182,9575404,47,6,0.0,15102,NaN,0.0
793183,9575405,47,6,0.0,15102,NaN,0.0
793184,9575421,47,6,0.0,15102,NaN,0.0
793185,9575422,47,6,0.0,15102,NaN,0.0
793186,9575438,47,6,0.0,15102,NaN,0.0
793187,9575454,47,6,0.0,15102,NaN,0.0
793188,9575455,47,6,0.0,15102,NaN,0.0
793189,9575471,47,6,0.0,15102,NaN,0.0
793190,9575472,47,6,0.0,15102,NaN,0.0
793191,9575488,47,6,0.0,15102,NaN,0.0
793192,9575489,47,6,0.0,15102,NaN,0.0
793193,9575406,47,6,0.0,15102,NaN,0.0
793194,9575424,47,6,0.0,15102,NaN,0.0
793195,9575440,47,6,0.0,15102,NaN,0.0
793196,9575456,47,6,0.0,15102,NaN,0.0
793197,9575458,47,6,0.0,15102,NaN,0.0
793198,9575474,47,6,0.0,15102,NaN,0.0
793199,9575490,47,6,0.0,15102,NaN,0.0
793206,9575491,47,6,0.0,15102,NaN,0.0

In [41]:
def question_id_to_text(question, question_df):
    #try:
    question_text = question_df.loc[question_df["PropertyDefinitionId"] == str(question),"PropertyDefinition"].values
    #except:
     #   question_text = 'No text equivalent for question'
    return question_text

In [42]:
question_id_to_text(question, question_text_df)

array(['DatentrÃ¤gertyp'], dtype=object)

In [40]:
question_text_df.loc[question_text_df["PropertyDefinitionId"]==str(417)]

  PropertyDefinition PropertyDefinitionId
3           Akku-Typ                  417

In [43]:
y = 403938

In [46]:
q1 = 347.0
a1 = [6218.0]

In [47]:
a2 = 6.0

In [63]:
q2 = 25

In [55]:
import numpy as np 
def select_subset(product_set, traffic_set = [], question = None, answer = None, purchased_set = []):
    """
    function assumes you have already build the answer column
    """
    if np.array_equal(["idk"], answer): # case i don't know the answer return everything
        return(product_set, traffic_set, [])
    else:
        q_keep = set(product_set.loc[product_set["PropertyDefinitionId"]==int(question), "ProductId"].drop_duplicates().values) # had to remove this drop_duplicates() because it changed the index !!!!!!!
        if np.array_equal(["none"], answer):
            products_to_keep = q_keep
            #print('the len of the discard is {}'.format(len(q_keep)))
        else:
            a_keep = set()
            for a in answer:
                a_keep = a_keep.union(set(product_set.loc[product_set["answer"].astype(str)==str(a), "ProductId"].drop_duplicates().values))
            products_to_keep = a_keep.intersection(q_keep)
        if np.array_equal(["none"], answer):
            #print("am here")
            #print('product set len {} and product keep {}'.format(len(get_distinct_products(product_set)), len(products_to_keep)))
            product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep)==False,]
            if len(traffic_set) != 0:
                traffic_set = traffic_set.loc[traffic_set["Items_ProductId"].isin(products_to_keep)==False,]
            if len(purchased_set) != 0:
                purchased_set = purchased_set.loc[purchased_set["Items_ProductId"].isin(products_to_keep)==False,]
        else:
            product_set = product_set.loc[product_set["ProductId"].isin(products_to_keep),]
            if len(traffic_set) != 0:
                traffic_set = traffic_set.loc[traffic_set["Items_ProductId"].isin(products_to_keep),]
            if len(purchased_set) != 0:
                purchased_set = purchased_set.loc[purchased_set["Items_ProductId"].isin(products_to_keep),]
        return(product_set, traffic_set, purchased_set)

In [69]:
product_set, traffic_set, purchased_set = select_subset(question=q1, answer=a1,
                                                            product_set=product_set, traffic_set =[],
                                                            purchased_set = [])

/Applications/miniconda3/lib/python3.6/site-packages/numpy/core/numeric.py:2397: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [61]:
product_set.sort_values(by="ProductId")

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
127575,373790,1,6,NaN,13,287.0,2.870000e+02
357941,373790,1,6,1.000000e+00,97,NaN,1.000000e+00
370155,373790,1,6,1.000000e+00,137,NaN,1.000000e+00
376784,373790,1,6,2.870000e+02,13,NaN,2.870000e+02
377322,373790,1,6,1.000000e+00,96,NaN,1.000000e+00
408157,373790,1,6,0.000000e+00,725,NaN,0.000000e+00
425916,373790,1,6,2.300000e+03,4,NaN,2.220000e+03
434900,373790,1,6,2.660000e-01,8,NaN,2.180000e-01
442559,373790,1,6,2.100000e-02,7,NaN,2.150000e-05
343404,373790,1,6,4.000000e+09,11280,NaN,3.600000e+09
455255,373790,1,6,3.800000e-01,6,NaN,3.672000e-01
479858,373790,1,6,1.130000e+03,746,NaN,1.130000e+03
559049,373790,1,6,6.218000e+03,347,NaN,6.218000e+03
586171,373790,1,6,8.155000e+03,9668,NaN,8.155000e+03
611258,373790,1,6,6.593000e+03,8246,NaN,6.593000e+03
611259,373790,1,6,6.594000e+03,8246,NaN,6.594000e+03
611260,373790,1,6,6.596000e+03,8246,NaN,6.596000e+03
645624,373790,1,6,1.000000e+00,56,NaN,1.000000e+00
653714,373790,1,6,1.000000e+00,3011,NaN,1.000000e+00
472549,373790,1,6,1.000000e+00,112,NaN,1.000000e+00
329012,373790,1,6,3.962400e-01,1,NaN,3.820160e-01
736126,373790,1,6,8.000000e+09,11282,NaN,8.000000e+09
307595,373790,1,6,1.700000e+09,25,NaN,1.581000e+09
127581,373790,1,6,NaN,9668,8155.0,8.155000e+03
127580,373790,1,6,NaN,746,1130.0,1.130000e+03
127576,373790,1,6,NaN,8246,6593.0,6.593000e+03
127579,373790,1,6,NaN,347,6218.0,6.218000e+03
127578,373790,1,6,NaN,8246,6596.0,6.596000e+03
127577,373790,1,6,NaN,8246,6594.0,6.594000e+03
480661,458120,5,6,1.130000e+03,746,NaN,1.130000e+03
...,...,...,...,...,...,...,...
585839,458120,5,6,2.560000e+11,460,NaN,2.560000e+11
647265,458122,5,6,0.000000e+00,56,NaN,0.000000e+00
612382,458122,5,6,6.596000e+03,8246,NaN,6.596000e+03
650963,458122,5,6,1.000000e+00,3011,NaN,1.000000e+00
612381,458122,5,6,6.594000e+03,8246,NaN,6.594000e+03
672647,458122,5,6,1.000000e+00,3039,NaN,1.000000e+00
612380,458122,5,6,6.593000e+03,8246,NaN,6.593000e+03
585840,458122,5,6,2.560000e+11,460,NaN,2.560000e+11
307634,458122,5,6,1.500000e+09,25,NaN,1.358000e+09
533077,458122,5,6,1.000000e+00,3014,NaN,1.000000e+00
329142,458122,5,6,2.946400e-01,1,NaN,2.773680e-01
133934,458122,5,6,NaN,746,1130.0,1.130000e+03
343462,458122,5,6,8.000000e+09,11280,NaN,5.800000e+09
133933,458122,5,6,NaN,9264,7650.0,7.650000e+03
359567,458122,5,6,3.940000e+02,16,NaN,3.940000e+02
133932,458122,5,6,NaN,8246,6593.0,6.593000e+03
133931,458122,5,6,NaN,16,394.0,3.940000e+02
133930,458122,5,6,NaN,347,6218.0,6.218000e+03
557441,458122,5,6,6.218000e+03,347,NaN,6.218000e+03
133929,458122,5,6,NaN,8246,6596.0,6.596000e+03
133928,458122,5,6,NaN,8246,6594.0,6.594000e+03
426116,458122,5,6,1.400000e+03,4,NaN,1.375000e+03
688793,458122,5,6,1.000000e+00,10604,NaN,1.000000e+00
444472,458122,5,6,1.700000e-02,7,NaN,2.150000e-05
455342,458122,5,6,2.980000e-01,6,NaN,2.788000e-01
474306,458122,5,6,1.000000e+00,112,NaN,1.000000e+00
480662,458122,5,6,1.130000e+03,746,NaN,1.130000e+03
527363,458122,5,6,7.650000e+03,9264,NaN,7.650000e+03
410100,458122,5,6,0.000000e+00,725,NaN,0.000000e+00
434948,458122,5,6,2.040000e-01,8,NaN,4.770000e-02

In [65]:
product_set, traffic_set, purchased_set = select_subset(question=q2, answer=[a2],
                                                            product_set=product_set, traffic_set =[],
                                                            purchased_set = [])

/Applications/miniconda3/lib/python3.6/site-packages/numpy/core/numeric.py:2397: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [66]:
product_set

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [72]:
product_set.loc[(product_set["PropertyDefinitionId"]==q2) & (product_set["answer"]==a2)]

,ProductId,BrandId,ProductTypeId,PropertyValue,PropertyDefinitionId,PropertyDefinitionOptionId,answer
714123,410284,510,6,6.0,5543,NaN,6.0
714140,434252,5,6,6.0,5543,NaN,6.0
714141,434820,5,6,6.0,5543,NaN,6.0
714293,634554,19,6,6.0,5543,NaN,6.0
714295,373756,1,6,6.0,5543,NaN,6.0
714452,433921,510,6,6.0,5543,NaN,6.0
714453,448827,510,6,6.0,5543,NaN,6.0
714455,434357,1,6,6.0,5543,NaN,6.0
714459,634168,19,6,6.0,5543,NaN,6.0
714518,449061,457,6,6.0,5543,NaN,6.0
714522,434237,5,6,6.0,5543,NaN,6.0
714523,434253,5,6,6.0,5543,NaN,6.0
714527,450665,5,6,6.0,5543,NaN,6.0
714528,454562,5,6,6.0,5543,NaN,6.0
714532,449379,8,6,6.0,5543,NaN,6.0
714696,722641,191,6,6.0,5543,NaN,6.0
714767,409370,510,6,6.0,5543,NaN,6.0
714768,409371,19,6,6.0,5543,NaN,6.0
714859,375031,5,6,6.0,5543,NaN,6.0
714862,375288,8,6,6.0,5543,NaN,6.0
714864,375299,8,6,6.0,5543,NaN,6.0
714866,457957,5,6,6.0,5543,NaN,6.0
714867,458059,5288,6,6.0,5543,NaN,6.0
714870,412608,8,6,6.0,5543,NaN,6.0
715201,722643,191,6,6.0,5543,NaN,6.0
715202,722644,191,6,6.0,5543,NaN,6.0
715204,763006,5,6,6.0,5543,NaN,6.0
715746,375123,5,6,6.0,5543,NaN,6.0
715748,375289,8,6,6.0,5543,NaN,6.0
715753,457088,8,6,6.0,5543,NaN,6.0
...,...,...,...,...,...,...,...
717049,433993,510,6,6.0,5543,NaN,6.0
717149,763005,5,6,6.0,5543,NaN,6.0
717221,401196,8,6,6.0,5543,NaN,6.0
717222,751994,5,6,6.0,5543,NaN,6.0
717804,635279,510,6,6.0,5543,NaN,6.0
717829,433878,19,6,6.0,5543,NaN,6.0
717833,714113,19,6,6.0,5543,NaN,6.0
717886,400185,5,6,6.0,5543,NaN,6.0
717889,449320,5,6,6.0,5543,NaN,6.0
717890,401187,8,6,6.0,5543,NaN,6.0
717900,635012,19,6,6.0,5543,NaN,6.0
717984,439847,8,6,6.0,5543,NaN,6.0
718068,630167,1,6,6.0,5543,NaN,6.0
718069,630168,1,6,6.0,5543,NaN,6.0
718094,362565,19,6,6.0,5543,NaN,6.0
718121,2356993,1150,6,6.0,5543,NaN,6.0
718250,329326,5,6,6.0,5543,NaN,6.0
718251,363419,5,6,6.0,5543,NaN,6.0
718252,372961,5,6,6.0,5543,NaN,6.0
718256,449319,5,6,6.0,5543,NaN,6.0
718259,375284,8,6,6.0,5543,NaN,6.0
718261,375301,8,6,6.0,5543,NaN,6.0
718262,375303,8,6,6.0,5543,NaN,6.0
718266,457960,5,6,6.0,5543,NaN,6.0
718267,458060,5288,6,6.0,5543,NaN,6.0
718282,2482160,5,6,6.0,5543,NaN,6.0
718284,2482175,5,6,6.0,5543,NaN,6.0
718293,2753353,5,6,6.0,5543,NaN,6.0
718630,450309,5288,6,6.0,5543,NaN,6.0
718634,722738,191,6,6.0,5543,NaN,6.0

In [75]:
products_cat.loc[(product_set["PropertyDefinitionId"]==q2) &(products_cat["answer"]==a2)]

Empty DataFrame
Columns: [ProductId, BrandId, ProductTypeId, PropertyValue, PropertyDefinitionId, PropertyDefinitionOptionId, answer]
Index: []

In [77]:
products_cat.loc[products_cat["PropertyDefinitionId"]==int(q2), "answer"] \
                                    .drop_duplicates().values.astype(float)

array([1.5810e+09, 1.7400e+09, 1.9500e+09, 2.3900e+09, 2.6600e+09,
       1.3580e+09, 2.1612e+09, 9.7000e+08, 2.0000e+00, 3.1600e+09])

In [3]:
products_cat = load_obj('../data/products_table')

In [5]:
purchased_cat.head()

,ProductId,UserId,OrderId,SessionId,Items_ProductId,Items_ItemCount
0,329015,2326810,14202712,1.834223e+09,329015,1
1,329015,2865292,14691437,1.960941e+09,329015,1
2,329015,1582035,14504466,1.920271e+09,329015,1
3,438618,1800738,14791067,1.981204e+09,438618,1
4,723305,1764422,13962451,1.781320e+09,723305,1

In [8]:
data1 = tl.files.load_npy_to_any(name='s200_p2a0.0_p3a0.0_pidk0.0_a1.0_tmp.npy')

In [10]:
data1['act'][1:10]

[10552, 10601, 25, 13, 99999, 6, 25, 8, 99999]

In [11]:
data1['state_list'][1:10]

[{25: [2161200000.0],
  10552: [186120.0],
  10601: array([40410., 68508.]),
  99999: [47.0]},
 {25: [2161200000.0],
  10552: [186120.0],
  10601: array([40410., 68508.]),
  99999: [47.0]},
 {25: [2161200000.0],
  10552: [186120.0],
  10601: array([40410., 68508.]),
  99999: [47.0]},
 {25: [2161200000.0],
  10552: [186120.0],
  10601: array([40410., 68508.]),
  99999: [47.0]},
 {6: [0.3672], 25: [2390000000.0], 99999: [8.0]},
 {6: [0.3672], 25: [2390000000.0], 99999: [8.0]},
 {6: [0.3672], 25: [2390000000.0], 99999: [8.0]},
 {6: [0.3672], 25: [2390000000.0], 99999: [8.0]},
 {99999: array([   47., 15164.,  1150.])}]

In [45]:
data2 = tl.files.load_npy_to_any(name='s200_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy')

In [48]:
act_new = np.append(data1['act'], data2['act'])
state_list_new = np.append(data1['state_list'], data2['state_list'])

In [49]:
len(state_list_new)

3778

In [23]:
len(data['act'])

2200

In [29]:
len(data2['act'])

2200

In [52]:
tl.files.save_any_to_npy(save_dict={'state_list': state_list_new, 'act': act_new}, name='_tmp.npy')

In [69]:
def process_all_teacher_files(list_filenames, outputname='_tmp.npy'):
    """This function is used to merge several data files from 
    several teacher runs.
    
    Args:
        list_filenames: list of filenames to be merged
        outputname: filename where to save the merged data
    
    Example:
        list_filenames = ['s200_p2a0.0_p3a0.0_pidk0.0_a1.0_tmp.npy', 's200_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy']
        process_all_teacher_files(list_filenames, outputname='test.npy')  
    """
    tmp = tl.files.load_npy_to_any(name=list_filenames[0])
    act = tmp['act']
    state = tmp['state_list']
    for i in range(1, len(list_filenames)):
        print(list_filenames[i])
        tmp = tl.files.load_npy_to_any(name=list_filenames[i])
        act = np.append(act, tmp['act'])
        state = np.append(state, tmp['state_list'])
    tl.files.save_any_to_npy(save_dict={'state_list': state, 'act': act}, name=outputname)

In [75]:
list_filenames = ['s200_p2a0.0_p3a0.0_pidk0.0_a1.0_tmp.npy', 's200_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy', 's500_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy']

In [76]:
process_all_teacher_files(list_filenames, outputname='_tmp.npy')

s200_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy
s500_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy

In [77]:
data1 = tl.files.load_npy_to_any(name='_tmp.npy')

In [78]:
len(data1['act'])

8565

In [5]:
type_filters

{'1.0': 'bin',
 '100.0': 'value',
 '10058.0': 'mixed',
 '10104.0': 'value',
 '10525.0': 'mixed',
 '10526.0': 'mixed',
 '10527.0': 'value',
 '10551.0': 'mixed',
 '10552.0': 'bin',
 '10588.0': 'value',
 '10589.0': 'value',
 '10600.0': 'mixed',
 '10601.0': 'bin',
 '10604.0': 'value',
 '10628.0': 'value',
 '10629.0': 'value',
 '10631.0': 'value',
 '10656.0': 'mixed',
 '108.0': 'mixed',
 '10990.0': 'value',
 '11075.0': 'mixed',
 '112.0': 'value',
 '11280.0': 'bin',
 '11281.0': 'bin',
 '11282.0': 'bin',
 '11288.0': 'mixed',
 '11294.0': 'value',
 '11295.0': 'value',
 '11296.0': 'mixed',
 '11297.0': 'bin',
 '11298.0': 'bin',
 '11299.0': 'mixed',
 '11339.0': 'mixed',
 '11550.0': 'mixed',
 '12129.0': 'mixed',
 '12418.0': 'value',
 '13.0': 'mixed',
 '13176.0': 'value',
 '13177.0': 'value',
 '13181.0': 'value',
 '13201.0': 'value',
 '13202.0': 'value',
 '13211.0': 'value',
 '13212.0': 'value',
 '134.0': 'value',
 '137.0': 'value',
 '14221.0': 'value',
 '1475.0': 'value',
 '15101.0': 'value',
 '15102.0': 'value',
 '15415.0': 'value',
 '15430.0': 'value',
 '16.0': 'mixed',
 '182.0': 'mixed',
 '19219.0': 'mixed',
 '19424.0': 'value',
 '2049.0': 'mixed',
 '230.0': 'bin',
 '25.0': 'bin',
 '2564.0': 'value',
 '2667.0': 'bin',
 '2747.0': 'value',
 '2748.0': 'value',
 '3011.0': 'value',
 '3014.0': 'value',
 '3039.0': 'value',
 '3106.0': 'value',
 '3124.0': 'value',
 '3139.0': 'bin',
 '3142.0': 'value',
 '3159.0': 'value',
 '3173.0': 'bin',
 '3191.0': 'value',
 '3195.0': 'mixed',
 '346.0': 'mixed',
 '347.0': 'mixed',
 '349.0': 'value',
 '4.0': 'bin',
 '403.0': 'bin',
 '404.0': 'bin',
 '417.0': 'mixed',
 '421.0': 'bin',
 '459.0': 'mixed',
 '460.0': 'bin',
 '522.0': 'value',
 '540.0': 'value',
 '5543.0': 'value',
 '56.0': 'value',
 '59.0': 'value',
 '6.0': 'bin',
 '60.0': 'mixed',
 '611.0': 'value',
 '635.0': 'value',
 '656.0': 'value',
 '657.0': 'value',
 '6885.0': 'mixed',
 '697.0': 'mixed',
 '7.0': 'bin',
 '705.0': 'value',
 '714.0': 'value',
 '7202.0': 'mixed',
 '725.0': 'value',
 '727.0': 'value',
 '7302.0': 'mixed',
 '734.0': 'value',
 '746.0': 'mixed',
 '748.0': 'mixed',
 '797.0': 'value',
 '7979.0': 'value',
 '8.0': 'bin',
 '8037.0': 'mixed',
 '806.0': 'value',
 '8246.0': 'mixed',
 '8522.0': 'bin',
 '8523.0': 'value',
 '8525.0': 'value',
 '8658.0': 'mixed',
 '868.0': 'value',
 '8698.0': 'mixed',
 '872.0': 'value',
 '8745.0': 'mixed',
 '8748.0': 'value',
 '8766.0': 'mixed',
 '900.0': 'value',
 '9264.0': 'mixed',
 '96.0': 'value',
 '9641.0': 'value',
 '9643.0': 'value',
 '9649.0': 'mixed',
 '9668.0': 'mixed',
 '9669.0': 'value',
 '9670.0': 'value',
 '97.0': 'value',
 '9945.0': 'value',
 '9946.0': 'value',
 '99999.0': 'option'}

In [4]:
filters_def_dict

{'1.0': array([0.1778  , 0.254762, 0.277368, 0.309372, 0.32131 , 0.33528 ,
        0.355092, 0.382016, 0.400304, 0.451866, 0.5334  ]),
 '100.0': array([1., 0.]),
 '10058.0': array({253728.0, 277226.0, 8139.0, 324876.0, 5325.0, 8141.0, 278035.0, 164055.0, 278040.0, 164057.0, 5310.0},
       dtype=object),
 '10104.0': array([1., 0.]),
 '10525.0': array({179204.0, 135705.0, 378395.0, 135710.0, 3105.0, 167459.0, 308777.0, 181802.0, 23082.0, 23617.0, 196168.0, 195662.0, 417874.0, 359005.0, 1122.0, 1123.0, 1126.0, 357991.0, 175720.0, 323180.0, 282220.0, 408176.0, 184436.0, 325240.0, 426115.0, 168077.0, 294030.0, 291985.0, 6292.0, 360089.0, 5277.0, 366239.0, 426149.0, 185512.0, 185514.0, 288951.0, 304824.0, 188602.0, 334015.0, 191696.0, 174289.0, 421593.0, 314076.0, 188638.0, 418527.0, 368352.0, 359137.0, 168173.0, 191732.0, 325371.0, 257277.0, 294143.0, 197911.0, 318745.0, 184602.0, 799.0, 298273.0, 181031.0, 3883.0, 3379.0, 415027.0, 304446.0, 176449.0, 312642.0, 420675.0, 23366.0, 311116.0, 321369.0, 303450.0, 297820.0, 310114.0, 374628.0, 875.0, 1907.0, 181621.0, 1913.0, 423291.0, 1915.0, 353661.0, 1916.0, 198527.0, 189822.0, 323970.0, 1923.0, 1924.0, 1415.0, 1416.0, 380297.0, 360329.0, 16783.0, 1936.0, 181139.0, 16788.0, 168340.0, 425876.0, 168344.0, 358808.0, 1433.0, 357273.0, 181148.0, 287128.0, 379806.0, 325019.0, 419.0, 418724.0, 166830.0, 387503.0, 252858.0, 358850.0, 297929.0, 188363.0, 301516.0, 332749.0, 417747.0, 308188.0, 290780.0, 193506.0, 168436.0, 326647.0, 168442.0, 168445.0, 369663.0},
       dtype=object),
 '10526.0': array({1122.0, 419.0, 1123.0, 1126.0, 1415.0, 1416.0, 1930.0, 3379.0, 181621.0, 1430.0, 1433.0, 1915.0, 1916.0, 1918.0, 1913.0},
       dtype=object),
 '10527.0': array([0., 1.]),
 '10551.0': array({11110.0, 11111.0}, dtype=object),
 '10552.0': array([   82800.,   122580.,   148176.,   164376.,   186120.,   201888.,
          224352.,   258984.,   283680.,   334440., 15120000.]),
 '10588.0': array([0., 1.]),
 '10589.0': array([1., 0.]),
 '10600.0': array({189825.0, 181377.0, 325763.0, 374660.0, 305926.0, 188041.0, 328847.0, 19345.0, 23060.0, 300827.0, 325279.0, 365727.0, 19489.0, 172194.0, 23205.0, 17837.0, 162094.0, 19247.0, 17840.0, 17841.0, 164022.0, 299705.0, 336826.0, 284987.0, 350402.0, 284995.0, 25797.0, 185797.0, 299719.0, 335949.0, 298446.0, 176209.0, 301395.0, 320212.0, 306773.0, 17879.0, 186201.0, 34910.0, 19423.0, 327904.0, 337633.0, 356706.0, 23653.0, 285414.0, 198504.0, 164072.0, 254443.0, 300914.0, 185715.0, 164086.0, 335608.0, 419324.0},
       dtype=object),
 '10601.0': array([  7200.,  21492.,  26928.,  31446.,  36684.,  40410.,  45288.,
         49788.,  55512.,  68508., 252000.]),
 '10604.0': array([1., 0.]),
 '10628.0': array([0., 1.]),
 '10629.0': array([0., 1., 2., 3.]),
 '10631.0': array([1., 0.]),
 '10656.0': array({7624.0, 19530.0, 19531.0, 308367.0, 179966.0}, dtype=object),
 '108.0': array({740.0, 377.0, 374.0, 375.0, 253561.0, 379.0, 380.0, 350.0},
       dtype=object),
 '10990.0': array([0., 1.]),
 '11075.0': array({345091.0, 3078.0, 365577.0, 312336.0, 181776.0, 333333.0, 410134.0, 159771.0, 159772.0, 286236.0, 159775.0, 397345.0, 417318.0, 188457.0, 188458.0, 286763.0, 188459.0, 159789.0, 252974.0, 188460.0, 159795.0, 163380.0, 163379.0, 299060.0, 166967.0, 354872.0, 354873.0, 294458.0, 298045.0, 362046.0, 165441.0, 165442.0, 298051.0, 362052.0, 165443.0, 380482.0, 333383.0, 380481.0, 167497.0, 365644.0, 288845.0, 391244.0, 345171.0, 345172.0, 185433.0, 200798.0, 304227.0, 424049.0, 175729.0, 166005.0, 290422.0, 165495.0, 165496.0, 280702.0, 380543.0, 411264.0, 362113.0, 411265.0, 363140.0, 168080.0, 407184.0, 330897.0, 186005.0, 418454.0, 188570.0, 172193.0, 157348.0, 356005.0, 189607.0, 295591.0, 292011.0, 311468.0, 328877.0, 339634.0, 157363.0, 164021.0, 394934.0, 298167.0, 302780.0, 167613.0, 166597.0, 427721.0, 320204.0, 160973.0, 320205.0, 178892.0, 328912.0, 376019.0, 166618.0, 166622.0, 166623.0, 414432.0, 287969.0, 308963.0, 311012.0, 166631.0, 166632.0, 164074.0, 281334.0, 166647.0, 344825.0, 365828.0, 166669.0, 280847.0, 280850.0, 320787.0, 379159.0, 379160.0, 166684.0, 185630.0, 166687.0, 166688.0, 167206.0, 276775.0, 167208.0, 284460.0, 284461.0, 288050.0, 288051.0, 286008.0, 325947.0, 167231.0, 194885.0, 410950.0, 409927.0, 376652.0, 297297.0, 251228.0, 253281.0, 210786.0, 421218.0, 421219.0, 326509.0, 326510.0, 285549.0, 284018.0, 15225.0, 284538.0, 324987.0, 185218.0, 309125.0, 409484.0, 409487.0, 285586.0, 319895.0, 285591.0, 252312.0, 290208.0, 333222.0, 167344.0, 166833.0, 327091.0, 327092.0, 166837.0, 165301.0, 168371.0, 361402.0, 411068.0, 198589.0, 168399.0, 332753.0, 332754.0, 310237.0, 158687.0, 392165.0, 392170.0, 326136.0},
       dtype=object),
 '112.0': array([1., 0.]),
 '11280.0': array([1.00e+09, 2.30e+09, 3.60e+09, 5.80e+09, 8.40e+09, 1.10e+10,
        1.52e+10, 2.04e+10, 2.72e+10, 5.44e+10, 5.12e+11]),
 '11281.0': array([0.00000e+00, 1.10000e+09, 2.40000e+09, 4.60000e+09, 6.80000e+09,
        8.09600e+09, 1.04768e+10, 1.48000e+10, 1.92000e+10, 2.36000e+10,
        3.20000e+10]),
 '11282.0': array([2.0e+09, 4.0e+09, 6.0e+09, 8.0e+09, 1.0e+10, 1.2e+10, 1.6e+10,
        2.0e+10, 2.4e+10, 3.2e+10, 6.4e+10]),
 '11288.0': array({737.0, 5767.0, 616.0, 1102.0, 339.0, 16341.0}, dtype=object),
 '11294.0': array([4.0e+09, 2.0e+09, 8.0e+09, 1.6e+10]),
 '11295.0': array([2., 1., 0., 4., 8.]),
 '11296.0': array({19530.0, 19531.0, 179966.0}, dtype=object),
 '11297.0': array([0.0000e+00, 7.3000e+09, 3.0400e+10, 7.5200e+10, 1.5920e+11,
        2.4500e+11, 2.6440e+11, 4.1880e+11, 8.0000e+11, 1.0716e+12,
        4.0000e+12]),
 '11298.0': array([1.000e+09, 3.840e+10, 1.384e+11, 2.920e+11, 4.640e+11, 5.120e+11,
        8.000e+11, 1.200e+12, 1.800e+12, 2.800e+12, 4.000e+12]),
 '11299.0': array({166528.0, 285698.0, 325253.0, 193545.0, 301322.0, 325899.0, 289932.0, 166670.0, 351892.0, 365719.0, 326173.0, 326135.0, 167204.0, 172196.0, 368423.0, 178988.0, 287916.0, 325299.0, 164660.0, 361652.0, 284726.0, 361653.0, 164019.0, 285687.0, 361658.0, 361532.0, 326077.0, 320447.0, 163392.0, 163393.0, 166337.0, 365506.0, 283843.0, 167241.0, 325067.0, 253261.0, 356733.0, 367442.0, 167122.0, 314070.0, 164054.0, 166874.0, 181723.0, 365789.0, 325731.0, 285411.0, 285412.0, 168185.0, 164071.0, 167676.0, 281452.0, 287982.0, 185714.0, 346867.0, 188277.0, 282359.0, 285688.0, 326137.0, 253562.0, 327292.0, 327293.0},
       dtype=object),
 '11339.0': array({159761.0, 159763.0, 188053.0, 188054.0, 164025.0, 164026.0},
       dtype=object),
 '11550.0': array({176408.0, 307230.0, 310816.0, 311476.0, 311477.0, 311478.0, 292049.0, 323038.0, 167394.0, 167396.0, 167397.0, 167398.0, 200679.0, 167401.0, 167403.0, 167404.0, 167405.0, 167407.0, 167408.0, 167410.0, 167412.0, 167413.0, 167414.0, 361213.0},
       dtype=object),
 '12129.0': array({185639.0, 185640.0, 12936.0, 7562.0, 167188.0, 5306.0},
       dtype=object),
 '12418.0': array([0., 1.]),
 '13.0': array({288.0, 289.0, 290.0, 292.0, 293.0, 166878.0, 1118.0, 186010.0, 186046.0, 287.0},
       dtype=object),
 '13176.0': array([0., 1.]),
 '13177.0': array([ 8.,  5.,  2.,  1.,  3., 13.]),
 '13181.0': array([0., 1.]),
 '13201.0': array([1.920e-03, 1.600e-03, 1.280e-03, 5.000e+00, 3.264e-03, 2.592e-03]),
 '13202.0': array([0.00108 , 0.00072 , 0.0012  , 0.001944, 0.002448]),
 '13211.0': array([1.280e-03, 6.400e-04, 1.920e-03, 1.366e-03, 2.592e-03, 1.200e-03,
        1.600e-03, 7.200e-04, 1.600e-05]),
 '13212.0': array([7.200e-04, 1.080e-03, 4.800e-04, 7.680e-04, 1.944e-03, 1.200e-03,
        8.000e-04, 9.000e-06]),
 '134.0': array([1., 0.]),
 '137.0': array([1., 0.]),
 '14221.0': array([1., 0.]),
 '1475.0': array([0., 1.]),
 '15101.0': array([0., 1.]),
 '15102.0': array([0., 1.]),
 '15415.0': array([0., 1.]),
 '15430.0': array([0., 1.]),
 '16.0': array({394.0, 294.0}, dtype=object),
 '182.0': array({416.0, 417.0, 196748.0, 196750.0, 239510.0, 306359.0, 8118.0, 39261.0, 39262.0},
       dtype=object),
 '19219.0': array({5306.0, 325949.0}, dtype=object),
 '19424.0': array([1., 0.]),
 '2049.0': array({1040.0, 842.0, 7109.0}, dtype=object),
 '230.0': array([6.7500e-03, 2.6460e+00, 3.0960e+00, 3.6860e+00, 4.0460e+00,
        4.5600e+00, 4.8420e+00, 5.4196e+00, 6.4720e+00, 7.7530e+00,
        4.1100e+03]),
 '25.0': array([2.0000e+00, 9.7000e+08, 1.3580e+09, 1.5810e+09, 1.7400e+09,
        1.9500e+09, 2.1612e+09, 2.3900e+09, 2.6600e+09, 3.1600e+09,
        8.0000e+11]),
 '2564.0': array([120.,  60., 144.]),
 '2667.0': array([9.00e-07, 7.50e-04, 3.00e-01, 9.00e-01, 1.00e+00, 1.30e+00,
        2.07e+00, 3.00e+00, 5.00e+00, 8.08e+00, 7.20e+02]),
 '2747.0': array([  16. ,    4. ,    3. ,   16.9,   15. ,   21. ,    8. , 1366. ]),
 '2748.0': array([ 9., 10.,  3.,  2.,  8.,  5.]),
 '3011.0': array([1., 0.]),
 '3014.0': array([1., 0.]),
 '3039.0': array([1., 0.]),
 '3106.0': array([1., 0.]),
 '3124.0': array([1., 0.]),
 '3139.0': array([ 2.  ,  3.96,  5.04,  7.4 , 11.7 , 15.  , 18.6 , 25.6 , 36.6 ,
        51.  , 91.  ]),
 '3142.0': array([ 4.,  8.,  2., 12.,  9.,  3.]),
 '3159.0': array([0., 1.]),
 '3173.0': array([1.400e+09, 1.952e+09, 2.154e+09, 2.318e+09, 2.432e+09, 2.580e+09,
        2.840e+09, 3.280e+09, 3.720e+09, 4.160e+09, 4.800e+09]),
 '3191.0': array([0., 1.]),
 '3195.0': array({200612.0, 326.0, 1158.0, 1160.0, 8135.0, 19178.0, 19179.0, 392311.0},
       dtype=object),
 '346.0': array({278025.0, 496.0, 498.0, 499.0, 500.0, 17880.0, 298747.0, 298748.0},
       dtype=object),
 '347.0': array({167936.0, 306689.0, 180738.0, 180739.0, 180740.0, 180741.0, 201222.0, 23045.0, 180737.0, 23050.0, 23053.0, 308243.0, 16405.0, 185877.0, 19481.0, 188953.0, 23065.0, 23067.0, 198173.0, 378912.0, 307232.0, 280609.0, 380448.0, 19492.0, 201248.0, 26144.0, 22567.0, 187937.0, 22569.0, 23078.0, 281648.0, 284725.0, 185918.0, 278079.0, 356927.0, 320578.0, 188489.0, 6218.0, 20047.0, 199760.0, 22609.0, 299090.0, 282193.0, 165457.0, 288339.0, 323155.0, 229468.0, 34909.0, 404574.0, 17503.0, 327261.0, 278112.0, 20067.0, 181350.0, 17001.0, 300650.0, 392300.0, 411252.0, 320629.0, 166517.0, 253558.0, 288378.0, 18559.0, 189056.0, 18561.0, 199299.0, 191621.0, 317062.0, 188043.0, 180369.0, 189074.0, 252054.0, 166553.0, 286363.0, 356508.0, 23196.0, 307872.0, 306848.0, 20128.0, 324259.0, 418982.0, 166566.0, 20135.0, 202924.0, 18097.0, 317618.0, 168626.0, 423094.0, 361657.0, 357050.0, 294078.0, 423614.0, 423104.0, 168129.0, 402117.0, 288968.0, 347336.0, 293066.0, 317641.0, 334028.0, 23242.0, 1230.0, 23246.0, 20174.0, 360143.0, 178897.0, 20178.0, 167124.0, 23251.0, 387796.0, 292056.0, 410329.0, 352986.0, 25819.0, 287964.0, 287965.0, 287966.0, 178907.0, 166619.0, 281310.0, 20190.0, 394467.0, 352992.0, 359138.0, 20195.0, 20196.0, 408294.0, 20198.0, 20200.0, 23270.0, 284908.0, 309994.0, 1262.0, 327402.0, 252144.0, 278768.0, 20206.0, 20207.0, 20215.0, 224507.0, 197372.0, 306940.0, 19198.0, 19200.0, 18176.0, 288514.0, 19201.0, 284933.0, 19205.0, 185609.0, 23307.0, 23308.0, 166668.0, 20239.0, 252688.0, 23312.0, 20242.0, 327444.0, 336150.0, 166168.0, 409368.0, 20248.0, 23323.0, 23324.0, 23326.0, 287519.0, 325920.0, 23329.0, 275747.0, 23331.0, 189220.0, 23334.0, 20263.0, 298793.0, 304429.0, 19245.0, 288049.0, 185137.0, 25907.0, 164657.0, 305468.0, 166724.0, 166726.0, 253255.0, 167242.0, 186187.0, 355660.0, 292174.0, 307023.0, 253266.0, 317780.0, 281941.0, 167766.0, 298328.0, 20313.0, 17754.0, 396122.0, 20314.0, 166752.0, 196963.0, 210790.0, 328039.0, 185704.0, 167782.0, 305514.0, 254315.0, 196972.0, 199021.0, 324457.0, 167792.0, 20339.0, 20341.0, 186230.0, 20344.0, 20345.0, 356730.0, 167802.0, 20347.0, 181119.0, 20353.0, 181122.0, 283522.0, 20354.0, 290693.0, 357766.0, 253318.0, 165765.0, 290695.0, 253322.0, 191367.0, 180105.0, 17805.0, 165769.0, 20360.0, 20363.0, 166797.0, 20362.0, 325011.0, 20368.0, 20369.0, 19346.0, 290708.0, 19348.0, 164758.0, 355738.0, 355739.0, 20373.0, 20375.0, 415641.0, 415640.0, 415136.0, 252828.0, 288162.0, 200606.0, 380831.0, 380832.0, 185247.0, 18858.0, 282538.0, 18860.0, 359340.0, 168369.0, 18866.0, 19378.0, 17844.0, 18869.0, 281014.0, 356790.0, 18871.0, 354745.0, 406451.0, 330676.0, 354748.0, 420791.0, 420792.0, 19389.0, 19390.0, 88001.0, 402882.0, 88003.0, 415684.0, 170437.0, 415686.0, 415687.0, 391628.0, 19404.0, 412624.0, 200660.0, 281046.0, 17878.0, 191961.0, 185820.0, 170462.0, 324063.0, 19422.0, 19424.0, 355811.0, 324068.0, 19940.0, 19942.0, 409060.0, 355816.0, 312827.0},
       dtype=object),
 '349.0': array([1., 0.]),
 '4.0': array([2.190e+02, 7.950e+02, 1.139e+03, 1.375e+03, 1.642e+03, 1.915e+03,
        2.220e+03, 2.555e+03, 2.940e+03, 3.920e+03, 2.600e+06]),
 '403.0': array([1.366e-06, 1.280e-03, 1.440e-03, 1.800e-03, 2.140e-03, 2.256e-03,
        2.400e-03, 2.736e-03, 2.880e-03, 3.200e-03, 3.840e-03]),
 '404.0': array([0.00072  , 0.0007936, 0.001008 , 0.001232 , 0.001408 , 0.001504 ,
        0.001616 , 0.001744 , 0.0018624, 0.002032 , 0.00256  ]),
 '417.0': array({7872.0, 371.0, 372.0, 288615.0}, dtype=object),
 '421.0': array([0.0000e+00, 2.3840e+08, 5.0960e+08, 1.2000e+09, 2.6000e+09,
        4.0000e+09, 4.4576e+09, 5.8000e+09, 8.8000e+09, 1.4400e+10,
        5.1200e+11]),
 '459.0': array({1472.0, 928.0, 3105.0, 290402.0, 3783.0, 360.0, 875.0, 188366.0, 5403.0, 6385.0, 791.0, 2968.0, 603.0, 1112.0, 799.0},
       dtype=object),
 '460.0': array([1.00e+09, 1.60e+10, 6.40e+10, 1.80e+11, 2.56e+11, 5.00e+11,
        8.78e+11, 1.12e+12, 1.25e+12, 2.40e+14, 1.00e+15]),
 '522.0': array([5.1, 6. , 4.3, 4.2]),
 '540.0': array([1., 0.]),
 '5543.0': array([ 6.,  4.,  8.,  3.,  9.,  2.,  5.,  1., 10.,  7.]),
 '56.0': array([0., 1.]),
 '59.0': array([ 324000.,  432000., 4320000.]),
 '6.0': array([3.19000e-05, 2.04200e-01, 2.43600e-01, 2.78800e-01, 3.04176e-01,
        3.21000e-01, 3.36840e-01, 3.67200e-01, 3.83680e-01, 4.18160e-01,
        3.91000e+00]),
 '60.0': array({325762.0, 1157.0, 333332.0, 328982.0, 189082.0, 326560.0, 295589.0, 326566.0, 334247.0, 333360.0, 437.0, 8118.0, 326076.0, 305350.0, 1098.0, 200656.0, 198613.0, 732.0, 325730.0, 1635.0, 362.0, 327278.0, 356594.0, 325239.0, 195065.0, 295290.0},
       dtype=object),
 '611.0': array([0., 1.]),
 '635.0': array([0., 1.]),
 '656.0': array([0., 1.]),
 '657.0': array([0., 1.]),
 '6885.0': array({253728.0, 278039.0, 277226.0, 8139.0, 324876.0, 5325.0, 8141.0, 346865.0, 278034.0, 278035.0, 278036.0, 278037.0, 198482.0, 167767.0, 278040.0, 164057.0, 164055.0, 5310.0},
       dtype=object),
 '697.0': array({3456.0, 3457.0, 3458.0, 3459.0, 3460.0, 3461.0, 3462.0, 3464.0, 3465.0, 8214.0, 6105.0, 3450.0, 6107.0, 3453.0, 3454.0, 3455.0},
       dtype=object),
 '7.0': array([2.15000e-05, 2.27600e-02, 3.50600e-02, 1.73910e-01, 2.10260e-01,
        2.26850e-01, 2.45500e-01, 2.60460e-01, 2.89904e-01, 3.31700e-01,
        4.18000e+00]),
 '705.0': array([0., 1.]),
 '714.0': array([1., 0.]),
 '7202.0': array({180711.0, 180713.0, 180722.0, 180723.0, 3988.0, 3989.0, 3990.0, 3991.0, 3992.0, 180729.0},
       dtype=object),
 '725.0': array([0., 1.]),
 '727.0': array([1., 0.]),
 '7302.0': array({5767.0, 616.0, 167081.0, 339.0, 340.0, 16341.0, 320211.0, 282267.0, 185245.0},
       dtype=object),
 '734.0': array([2., 4., 6., 5., 8.]),
 '746.0': array({426116.0, 306565.0, 306568.0, 179853.0, 359954.0, 328980.0, 167067.0, 333221.0, 278322.0, 325810.0, 185141.0, 357688.0, 7099.0, 365631.0, 365632.0, 166976.0, 167234.0, 6211.0, 6212.0, 365634.0, 6214.0, 6215.0, 6216.0, 179656.0, 368083.0, 282326.0, 602.0, 408154.0, 359003.0, 185818.0, 332512.0, 167011.0, 178919.0, 178920.0, 178921.0, 1130.0, 1131.0, 1132.0, 392299.0, 179945.0, 8306.0, 8307.0, 8308.0, 288242.0, 278771.0, 119.0, 121.0, 126.0, 127.0},
       dtype=object),
 '748.0': array({181120.0, 675.0, 377252.0, 168997.0, 167752.0, 296.0, 781.0, 1039.0, 412400.0, 18834.0, 18835.0, 790.0, 253560.0, 16122.0, 16829.0},
       dtype=object),
 '797.0': array([1., 0.]),
 '7979.0': array([1.e+05, 1.e+06, 8.e+09, 1.e+09, 1.e+04, 1.e+07]),
 '8.0': array([2.6500e-06, 1.1750e-02, 1.7050e-02, 2.0625e-02, 2.4550e-02,
        2.8550e-02, 3.3800e-02, 4.7700e-02, 2.1800e-01, 2.6650e-01,
        2.8300e+00]),
 '8037.0': array({6406.0, 6407.0, 6408.0, 17806.0, 325908.0}, dtype=object),
 '806.0': array([ 2. ,  4. ,  1.5,  1. ,  3. ,  0.5,  2.5,  1.6,  3.5, 16. ]),
 '8246.0': array({6592.0, 6593.0, 6594.0, 6595.0, 6596.0, 6591.0}, dtype=object),
 '8522.0': array([ 1000000.,  2000000.,  3000000.,  4000000.,  6000000.,  8000000.,
         9000000., 12000000., 15000000., 36000000., 44000000.]),
 '8523.0': array([1., 0.]),
 '8525.0': array([0., 1.]),
 '8658.0': array({23296.0, 20356.0, 23302.0, 19342.0, 112784.0, 112788.0, 298773.0, 23061.0, 22806.0, 419323.0, 23066.0, 23325.0, 325277.0, 285859.0, 325285.0, 23463.0, 23207.0, 8105.0, 23210.0, 362539.0, 8107.0, 168104.0, 8109.0, 8110.0, 8111.0, 18863.0, 25906.0, 18865.0, 8113.0, 8114.0, 8116.0, 8117.0, 166836.0, 8115.0, 284986.0, 37045.0, 6972.0, 189111.0, 23491.0, 281930.0, 360142.0, 22607.0, 23294.0, 25818.0, 20315.0, 328160.0, 328161.0, 23651.0, 164013.0, 18153.0, 17002.0, 407531.0, 20203.0, 20204.0, 20338.0, 326134.0, 181243.0, 20348.0, 411261.0, 18558.0, 23295.0},
       dtype=object),
 '868.0': array([0., 1.]),
 '8698.0': array({374659.0, 282243.0, 290691.0, 321667.0, 15239.0, 188040.0, 291850.0, 23690.0, 279058.0, 7061.0, 280983.0, 166810.0, 411293.0, 325278.0, 23462.0, 23209.0, 306091.0, 23211.0, 325933.0, 162093.0, 333359.0, 17713.0, 292022.0, 299704.0, 23744.0, 279111.0, 284364.0, 168024.0, 355416.0, 288348.0, 287710.0, 186207.0, 11104.0, 185439.0, 292070.0, 14310.0, 292073.0, 291565.0, 355452.0, 411263.0},
       dtype=object),
 '872.0': array([1., 0.]),

In [11]:
y = np.random.choice(products_cat["ProductId"].drop_duplicates().values, size=1)[0]
        
        # Sample the possible answers for this product:
        # Creates a dictionary of the form {'q1': [a1], 'q2': [a2, a3], etc.}
answers_y = sampler.sample_answers(y, products_cat, p_idk=0.1, p_2a=0.1, p_3a=0.1)

In [12]:
answers_y

{1.0: [0.33528],
 4.0: [1139.0],
 6.0: [0.27880000000000005],
 7.0: [0.21026],
 8.0: ['idk'],
 13.0: [292.0],
 16.0: [394.0],
 25.0: [2390000000.0],
 56.0: [0.0],
 59.0: ['idk'],
 60.0: ['idk'],
 96.0: array([0., 1.]),
 97.0: array([0., 1., 1.]),
 100.0: [1.0],
 108.0: array([   379., 253561.,    375.]),
 112.0: [0.0],
 134.0: array([0., 1.]),
 137.0: [0.0],
 182.0: ['idk'],
 230.0: ['idk'],
 346.0: [496.0],
 347.0: array([334028., 254315.,  19346.]),
 349.0: [0.0],
 403.0: array([0.0024, 0.0032]),
 404.0: array([0.001504, 0.001232]),
 417.0: [372.0],
 421.0: ['idk'],
 459.0: [799.0],
 460.0: array([5.00e+11, 8.78e+11]),
 522.0: ['idk'],
 540.0: ['idk'],
 611.0: [0.0],
 635.0: [1.0],
 656.0: [0.0],
 657.0: [0.0],
 697.0: ['idk'],
 705.0: [0.0],
 714.0: [0.0],
 725.0: [0.0],
 727.0: [0.0],
 734.0: [2.0],
 746.0: array([365631., 185818., 306565.]),
 748.0: [296.0],
 797.0: array([0., 1., 1.]),
 806.0: ['idk'],
 868.0: [0.0],
 872.0: array([0., 1.]),
 900.0: ['idk'],
 1475.0: ['idk'],
 2049.0: ['idk'],
 2564.0: ['idk'],
 2667.0: ['idk'],
 2747.0: [16.0],
 2748.0: array([9., 8.]),
 3011.0: [0.0],
 3014.0: [1.0],
 3039.0: [1.0],
 3106.0: array([0., 1., 1.]),
 3124.0: [1.0],
 3139.0: [15.0],
 3142.0: [4.0],
 3159.0: [0.0],
 3173.0: [3720000000.0000005],
 3191.0: [0.0],
 3195.0: [1160.0],
 5543.0: ['idk'],
 6885.0: ['idk'],
 7202.0: [3988.0],
 7302.0: array([   339., 167081.]),
 7979.0: ['idk'],
 8037.0: ['idk'],
 8246.0: [6592.0],
 8522.0: [4000000.0],
 8523.0: [0.0],
 8525.0: [0.0],
 8658.0: ['idk'],
 8698.0: ['idk'],
 8745.0: array([351908., 411291.]),
 8748.0: [8000000000.0],
 8766.0: [396179.0],
 9264.0: [284996.0],
 9641.0: ['idk'],
 9643.0: [0.0],
 9649.0: [7090.0],
 9668.0: [180435.0],
 9669.0: [0.0],
 9670.0: [0.0],
 9945.0: [0.0],
 9946.0: ['idk'],
 10058.0: ['idk'],
 10104.0: [1.0],
 10525.0: array([304446., 174289.]),
 10526.0: [1915.0],
 10527.0: [1.0],
 10551.0: array([11110., 11111., 11111.]),
 10552.0: ['idk'],
 10588.0: [0.0],
 10589.0: [0.0],
 10600.0: ['idk'],
 10601.0: [31446.0],
 10604.0: [1.0],
 10628.0: [0.0],
 10629.0: [0.0],
 10631.0: [0.0],
 10656.0: ['idk'],
 10990.0: [0.0],
 11075.0: ['idk'],
 11280.0: array([5.80e+09, 5.44e+10, 8.40e+09]),
 11281.0: ['idk'],
 11282.0: [8000000000.0],
 11288.0: ['idk'],
 11294.0: ['idk'],
 11295.0: array([0., 4., 8.]),
 11296.0: [19530.0],
 11297.0: [418799999999.99963],
 11298.0: ['idk'],
 11299.0: [356733.0],
 11339.0: array([164026., 159761.]),
 11550.0: [167412.0],
 12129.0: [5306.0],
 12418.0: array([0., 1.]),
 13176.0: [0.0],
 13177.0: ['idk'],
 13181.0: [0.0],
 13201.0: ['idk'],
 13202.0: ['idk'],
 13211.0: ['idk'],
 13212.0: ['idk'],
 14221.0: [1.0],
 15101.0: [0.0],
 15102.0: [0.0],
 15415.0: [0.0],
 15430.0: ['idk'],
 19219.0: array([  5306., 325949., 325949.]),
 19424.0: [0.0],
 99999.0: [47.0]}

In [83]:
def get_onehot_state(state, filters_def_dict):
    """ Compute the one-hot vector state from state:
    Args:
        state: {"q1":[a1,a2], "q2":[a3], ..}
        filters_def_dict:
    Returns:
        onehot_state: one-hot vector state ([0,0,1,1,0,0,...,0,0])
    """
    questions = [int(float(q)) for q in sorted(filters_def_dict.keys())]
    onehot_state = []
    for q in questions:
        # Get all sorted possible answers
        # some questions have an answer type object and other a normal array
        if filters_def_dict[str(float(q))].dtype == object:
            all_a = sorted(filters_def_dict[str(float(q))].item())
        else:
            all_a = sorted(filters_def_dict[str(float(q))])
        # if q has been answered in state
        if q in state.keys():
            a = state[q]  #get answers from that question
            print(a)
            if not isinstance(a,list):
                a = [a]
            for a_h in all_a: #for all possible answers of q
                
                if a_h in a:
                    onehot_state.append(1)
                else:
                    onehot_state.append(0)
        # if q has NOT been answered in state
        else:
            [onehot_state.append(0) for i in range(len(all_a))]
    return onehot_state

In [84]:
one_state_list = [{}, {347: [307023.,  17503.]}, {}, {347: [307023.0]}, {347: [307023.0], 10525: ['idk']}, {347: [307023.0], 10525: ['idk'], 99999: [5288.0]}, {}, {}, {347: ['idk']}, {347: ['idk'], 8745: ['idk']}]

In [92]:
res = get_onehot_state({347: [307023.0], 10525: ['idk'], 99999: [5288.0]}, {}, {}, {347: ['idk']}, {347: ['idk'], 8745: ['idk']}, filters_def_dict)

TypeError: get_onehot_state() takes 2 positional arguments but 6 were given

In [87]:
np.where(np.asarray(res)>0)

(array([1027]),)

In [97]:
def process_all_teacher_files(list_filenames, outputname='_tmp.npy'):
    """This function is used to merge several data files from 
    several teacher runs.
    
    Args:
        list_filenames: list of filenames to be merged
        outputname: filename where to save the merged data
    
    Example:
        list_filenames = ['s200_p2a0.0_p3a0.0_pidk0.0_a1.0_tmp.npy', 's200_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy']
        process_all_teacher_files(list_filenames, outputname='test.npy')  
    """
    tmp = tl.files.load_npy_to_any(name=list_filenames[0])
    act = tmp['act']
    state = tmp['state_list']
    for d in list_filenames[1:]:
        tmp = tl.files.load_npy_to_any(name=d)
        act = np.append(act, tmp['act'])
        state = np.append(state, tmp['state_list'])
    tl.files.save_any_to_npy(save_dict={'state_list': state, 'act': act}, name=outputname)

In [98]:
list_filenames=['s500_p2a0.0_p3a0.0_pidk0.0_a1.0_tmp.npy', 's500_p2a0.2_p3a0.1_pidk0.1_a1.0_tmp.npy']
list_filenames = ['../teacher_dagger/'+l for l in list_filenames]

In [99]:
process_all_teacher_files(list_filenames, outputname='../teacher_dagger/_tmp.npy')